<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CryptoNoteMultiWalletMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <CryptoNoteMultiWalletMonitor.Properties.Settings>
      <setting name="AutoTransferAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoTransferEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoTransferFee" serializeAs="String">
        <value>0.005</value>
      </setting>
      <setting name="AutoTransferMinimum" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="AutoTransferMixInCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AutoTransferPauseTimeSeconds" serializeAs="String">
        <value>240</value>
      </setting>
      <setting name="AutoTransferPaymentID" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoTransferredSoFar" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CryptoNoteDirectory" serializeAs="String">
        <value>.\</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="RefreshIntervalSeconds" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="RegexBalanceMatch" serializeAs="String">
        <value>(\s*|^)balance:\s*(?&lt;Balance&gt;\d*(.)?\d*),\s*unlocked\s*balance:\s*(?&lt;UnlockedBalance&gt;\d*(.)?\d*)$</value>
      </setting>
      <setting name="SettingsUpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WalletCommand" serializeAs="String">
        <value>simplewallet.exe</value>
      </setting>
      <setting name="WalletDirectory" serializeAs="String">
        <value>.\</value>
      </setting>
      <setting name="WalletFilter" serializeAs="String">
        <value>*.bin</value>
      </setting>
    </CryptoNoteMultiWalletMonitor.Properties.Settings>
  </userSettings>
</configuration>